/* General setup */
/* Remember to always comment*/

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
  word-spacing: 3px;
  line-height: 20px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

/* heading style */
h1,
h2 {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-indent: 20px;
}

/* link style */
a:hover{
  text-decoration: none;
  color: red;
  font-family: 'Baloo Thambi', cursive;
  font-size: 14px;
}

a {
  color: rgb(253, 98, 8);
}

li {
  line-height: 25px;
  /* list-style-image: url(../images/images.jpg); */
}
/* end of link style */

/* paragraph style */
p {
  font-size: 14px;
}

/* nav bar */
.navbar li {
  list-style: none;
  text-align: center;
  display:inline;
  letter-spacing: 1px;
  word-spacing: 3px;
  box-shadow: 10px;
}