/* speech bubble style */
.speech-bubble {
    position: relative;
    display: inline-block;
  }
  
.speech-bubble .speech-bubbletext {
    visibility: visible;
    width: 120px;
    background-color: rgba(74, 223, 203, 0.733);
    color: rgb(248, 8, 216);
    text-align: center;
    border-radius: 6px;
    padding: 3px 10px;
    margin-left:35rem;
    margin-top: 10rem;
    font-size: 2rem;
  }
  /* hover over speech-bubble */
.speech-bubble:hover .speech-bubbletext {
    background-color: brown;
    color: black;
  }
  /* end of style */